{% extends 'base.html.twig' %}

{% block title %}Détails de la Société{% endblock %}

{% block body %}
    {% include 'components/navbar.html.twig' %}

    <div class="flex mt-4 ml-2">
        {% include 'components/sidebar.html.twig' %}

        <div class="flex-1 p-4 content bg-white dark:bg-gray-800 p-2 rounded-lg mr-4 ml-2 overflow-x-auto">
            <h1 class="text-blue-color font-nunito text-lg font-bold mb-2 dark:text-white">Détails de la Société</h1>

            <div class="flex flex-col sm:flex-row gap-4 items-center mb-4">
                <div class="w-full">
                    <div class="flex justify-center items-center mb-4">
                        <div class="relative">
                            <img src="{{ societe.avatarLogo ? asset('uploads/societe/avatar_logo/' ~ societe.avatarLogo) : asset('images/company_default.png') }}" class="rounded-full border border-gray-200 w-36 h-36 object-cover">
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex flex-col sm:flex-row gap-4 items-center mb-2">
                <div class="w-full sm:w-1/2">
                    <div class="mb-1 text-sm font-semibold font-nunito text-blue-color dark:text-white">Raison Sociale</div>
                    <div class="border border-gray-200 bg-blue-color-opacity text-blue-color font-nunito p-2 rounded-lg dark:bg-gray-700 dark:border-gray-700 dark:text-gray-400">{{ societe.raisonSociale }}</div>
                </div>
                <div class="w-full sm:w-1/2">
                    <div class="mb-1 text-sm font-semibold font-nunito text-blue-color dark:text-white">Numéro SIRET</div>
                    <div class="border border-gray-200 bg-blue-color-opacity text-blue-color font-nunito p-2 rounded-lg dark:bg-gray-700 dark:border-gray-700 dark:text-gray-400">{{ societe.numSiret }}</div>
                </div>
            </div>

            <div class="flex flex-col sm:flex-row gap-4 items-center mb-2">
                <div class="w-full sm:w-1/2">
                    <div class="mb-1 text-sm font-semibold font-nunito text-blue-color dark:text-white">Adresse</div>
                    <div class="border border-gray-200 bg-blue-color-opacity text-blue-color font-nunito p-2 rounded-lg dark:bg-gray-700 dark:border-gray-700 dark:text-gray-400">{{ societe.adresse }}</div>
                </div>
                <div class="w-full sm:w-1/2">
                    <div class="mb-1 text-sm font-semibold font-nunito text-blue-color dark:text-white">Code Postal</div>
                    <div class="border border-gray-200 bg-blue-color-opacity text-blue-color font-nunito p-2 rounded-lg dark:bg-gray-700 dark:border-gray-700 dark:text-gray-400">{{ societe.codePostal }}</div>
                </div>
            </div>

             <div class="flex flex-col sm:flex-row gap-4 items-center mb-2">
                <div class="w-full sm:w-1/2">
                    <div class="mb-1 text-sm font-semibold font-nunito text-blue-color dark:text-white">Ville</div>
                    <div class="border border-gray-200 bg-blue-color-opacity text-blue-color font-nunito p-2 rounded-lg dark:bg-gray-700 dark:border-gray-700 dark:text-gray-400">{{ societe.ville }}</div>
                </div>
                <div class="w-full sm:w-1/2">
                    <div class="mb-1 text-sm font-semibold font-nunito text-blue-color dark:text-white">Email</div>
                    <div class="border border-gray-200 bg-blue-color-opacity text-blue-color font-nunito p-2 rounded-lg dark:bg-gray-700 dark:border-gray-700 dark:text-gray-400">{{ societe.email }}</div>
                </div>
            </div>


            <div class="flex flex-col sm:flex-row gap-4 items-center mb-2">
                <div class="w-full sm:w-1/2">
                    <div class="mb-1 text-sm font-semibold font-nunito text-blue-color dark:text-white">Numéro de Téléphone</div>
                    <div class="border border-gray-200 bg-blue-color-opacity text-blue-color font-nunito p-2 rounded-lg dark:bg-gray-700 dark:border-gray-700 dark:text-gray-400">{{ societe.numTel }}</div>
                </div>
                <div class="w-full sm:w-1/2">
                    <div class="mb-1 text-sm font-semibold font-nunito text-blue-color dark:text-white">Numéro Fixe</div>
                    <div class="border border-gray-200 bg-blue-color-opacity text-blue-color font-nunito p-2 rounded-lg dark:bg-gray-700 dark:border-gray-700 dark:text-gray-400">{{ societe.numFix }}</div>
                </div>
            </div>

            <div class="text-left mt-4">
                <a href="{{ path('app_societe_index') }}" class="text-blue-color dark:text-white">
                    <i class="fas fa-arrow-left"></i> Retour
                </a>
            </div>
        </div>
    </div>
{% endblock %}
