{{ form_start(form, {'attr': {'class': 'space-y-6'}}) }}

<div class="flex justify-center items-center mb-4">
    <div class="relative">
        <img id="profilePicturePreview" src="{{ (form.vars.value.profilePictureName is not null) ? vich_uploader_asset(form.vars.value, 'profilePictureFile') : asset('build/images/user_default.png') }}" class="rounded-full border border-gray-200 w-36 h-36 object-cover">
        <label for="user_profilePictureFile_file" class="absolute inset-0 w-full h-full flex justify-center items-center bg-black bg-opacity-50 text-white font-semibold font-nunito rounded-full cursor-pointer hover:bg-opacity-70 transition duration-300 ease-in-out">
            <i class="fas fa-camera text-blue-color"></i>
        </label>
        
        {{ form_widget(form.profilePictureFile, {'attr': {'class': 'hidden'}}) }}
    </div>
</div>

<div class="flex flex-col sm:flex-row gap-4">
    <div class="w-full sm:w-1/2">
        {{ form_label(form.email, 'Email', {'label_attr': {'class': 'mb-1 text-sm font-semibold font-nunito text-blue-color dark:text-white'}}) }}
        {{ form_widget(form.email, {'attr': {'class': 'border border-gray-200 bg-blue-color-opacity text-blue-color font-nunito p-2 rounded-lg w-full dark:bg-gray-700 dark:border-gray-700 dark:text-gray-400'}}) }}
    </div>
    <div class="w-full sm:w-1/2">
        <div class="mb-1 text-sm font-semibold font-nunito text-blue-color dark:text-white">{{ form_label(form.password, 'Mot de passe') }}</div>
        <div class="flex items-center gap-2">
            {{ form_widget(form.password, {'attr': {'class': 'border border-gray-200 bg-blue-color-opacity text-blue-color font-nunito p-2 rounded-lg flex-grow dark:bg-gray-700 dark:border-gray-700 dark:text-gray-400'}}) }}
            <button type="button" id="generatePassword" class="bg-blue-color text-white p-2 rounded-lg">
                Générer
            </button>
        </div>
    </div>
</div>

<div class="flex flex-col sm:flex-row gap-4">
    <div class="w-full sm:w-1/2">
        {{ form_label(form.name, 'Nom', {'label_attr': {'class': 'mb-1 text-sm font-semibold font-nunito text-blue-color dark:text-white'}}) }}
        {{ form_widget(form.name, {'attr': {'class': 'border border-gray-200 bg-blue-color-opacity text-blue-color font-nunito p-2 rounded-lg w-full dark:bg-gray-700 dark:border-gray-700 dark:text-gray-400'}}) }}
    </div>
    <div class="w-full sm:w-1/2">
        {{ form_label(form.surname, 'Prénom', {'label_attr': {'class': 'mb-1 text-sm font-semibold font-nunito text-blue-color dark:text-white'}}) }}
        {{ form_widget(form.surname, {'attr': {'class': 'border border-gray-200 bg-blue-color-opacity text-blue-color font-nunito p-2 rounded-lg w-full dark:bg-gray-700 dark:border-gray-700 dark:text-gray-400'}}) }}
    </div>
</div>

<div class="flex flex-col sm:flex-row gap-4 justify-between">
    <div class="w-full sm:w-1/2">
        {{ form_label(form.roles, 'Roles', {'label_attr': {'class': 'mb-1 text-sm font-semibold font-nunito text-blue-color dark:text-white'}}) }}
        {{ form_widget(form.roles, {'attr': {'class': 'border border-gray-200 bg-blue-color-opacity text-blue-color font-nunito p-2 rounded-lg w-full dark:bg-gray-700 dark:border-gray-700 dark:text-gray-400'}}) }}
    </div>
    <div class="w-full sm:w-1/2">
        {{ form_label(form.societe_id, 'Sociétés', {'label_attr': {'class': 'mb-1 text-sm font-semibold font-nunito text-blue-color dark:text-white'}}) }}
        {{ form_widget(form.societe_id, {'attr': {'class': 'border border-gray-200 bg-blue-color-opacity text-blue-color font-nunito p-2 rounded-lg w-full dark:bg-gray-700 dark:border-gray-700 dark:text-gray-400'}}) }}
    </div>
</div>

<div class="text-right mt-4">
    <button type="submit" class="px-4 py-2 bg-blue-color text-white rounded-lg">{{ button_label|default('Save') }}</button>
</div>

{{ form_end(form) }}


<script>
    document.getElementById('user_profilePictureFile_file').addEventListener('change', function(event) {
        var file = event.target.files[0];
        var reader = new FileReader();
        reader.onload = function(e) {
            document.getElementById('profilePicturePreview').src = e.target.result;
        };
        reader.readAsDataURL(file);
    });

    document.getElementById('generatePassword').addEventListener('click', function() {
        var passwordField = document.querySelector('input[name="user[password]"]');
        var newPassword = generatePassword(12);
        passwordField.value = newPassword;
        passwordField.type = 'text';

        setTimeout(function() {
            passwordField.type = 'password';
        }, 15000); 
    });

    function generatePassword(length) {
        var charset = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";
        var retVal = "";
        for (var i = 0, n = charset.length; i < length; ++i) {
            retVal += charset.charAt(Math.floor(Math.random() * n));
        }
        return retVal;
    }
</script>
